<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="client/css/write-data.css">
         <script src='client/js/config.js' ></script>
        <script src='client/js/write-data.js' ></script>
                

    </head>
    <body>
        <main>
            <section class = "image">>
                <div>
                  
                </div>
                <div class="title">joes grill</div>
                
            </section>
            <section>
                <div class="linkes">
                    <a style="margin-right:5%;margin-left:30%;" href="/">Home</a>
                    <a style="margin-right:5%;" href="/write-data">Enter Data</a>
                    <a style="margin-right:5%;" href="/view-data">View Data</a>
                    <a style="margin-right:5%;" href="/browse-data">Browse Data</a>
                </div>
                <div data-ng-app="addFoodsApp" data-ng-controller="addFoodsCtrl" data-ng-init="addResults=' '" style="margin-left:35%;">

                    
                    <table style="border: 5px solid red;background-color: orange;font-size: 40px;">
                        <tr>
                            <th for="name" style="color: red;border-bottom: 5px solid red;border-right: 5px solid red;">name</th>
                            <th><input type="text" id="name" data-ng-model="name" data-ng-change=startNew() style="font-size: 30px;border: 5px solid red;"></th>
                        </tr>
                        <tr>
                            <th for="price" style="color: red;border-bottom: 5px solid red;border-right: 5px solid red;">price</th>
                            <th><input type="text" id="price" data-ng-model="price" data-ng-change=startNew() style="font-size: 30px;border: 5px solid red;"></th>
                        </tr>
                        <tr>
                            <th  for="calorie" style="color: red;border-bottom: 5px solid red;border-right: 5px solid red;">calories</th>
                            <th><input type="text" id="calorie" data-ng-model="calorie" data-ng-change=startNew() style="font-size: 30px;border: 5px solid red;"></th>
                        </tr>
                        <tr>
                            <th for="rating" style="color: red;border-bottom: 5px solid red;border-right: 5px solid red;">rating</th>
                            <th><input type="text" id="rating" data-ng-model="rating" data-ng-change=startNew() style="font-size: 30px;border: 5px solid red;"></th>
                        </tr>
                        <tr>
                            <th for="purchesed" style="color: red;border-bottom: 5px solid red;border-right: 5px solid red;">purchesed</th>
                            <th><input type="text" id="purchesed" data-ng-model="purchesed" data-ng-change=startNew() style="font-size: 30px;border: 5px solid red;"></th>
                        </tr>
                        <tr>
                            <th  for="category" style="color: red;border-bottom: 5px solid red;border-right: 5px solid red;">category</th>
                            <th><input type="text" id="category" data-ng-model="category" data-ng-change=startNew() style="font-size: 30px;border: 5px solid red;"></th>
                        </tr>
                    </table>
                    
                    
                   
                    <div>
                        <button id="submit" data-ng-click="submitFood()" style="font-size: 30px;background-color:orange;color: red;border: 5px solid red;">
                            summit
                        </button>
                        <button  id="clear" data-ng-click="clearall()" style="font-size: 30px;background-color:orange;color: red;border: 5px solid red;">
                            clear
                        </button>
                    </div>
                    <div style="float: left; clear: left; margin-top: 20px; font-size: 24px; color:green;">{{addResults}}</div>
                </div>
                
            </section>
        </main>
    </body>
</html>